.git
.github
.dotnet-home
.logs
.mp
.nx
.vscode
venv
node_modules
apps/web/.next
apps/web/.env.local
apps/api/bin
apps/api/obj
workers/python-worker/__pycache__
workers/python-worker/moneyprinter_worker/__pycache__
.env.platform.local
config.json
Songs
google-maps-scraper-0.9.7

